.newFolder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.colorsFolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorsFolder svg {
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: auto;
}

.form-newFolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.folderTitleDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.folderTitleDiv label {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
}

#folderTitle {
  width: 400px;
  height: 70px;
  outline: none;
  border: none;
  background-color: var(--color-background--1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.btn-div Button {
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
