/* .newNote-container {
} */

.form-newNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-newNote label {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}

.noteTitleDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#noteTitle {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  background-color: var(--color-background--1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}

.noteTextDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#noteText {
  width: 300px;
  height: 60px;
  outline: none;
  border: none;
  background-color: var(--color-background--1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  overflow: hidden;
}

.linkDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#link {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  background-color: var(--color-background--1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}

.form-newNote Button {
  height: 4rem;
  width: 4rem;
  font-size: 1rem;
  font-weight: bolder;
}
