.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-name-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 10px;
}

.notes-name-add h2 {
  color: white;
}

.notes-name-add svg {
  cursor: pointer;
  fill: white;
}

.oneNoteDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin-bottom: 30px;
}

.oneNote {
  width: auto;
  max-width: 250px;
  height: auto;
  margin: 10px;
  background-color: var(--color-background--1);
  border-radius: 12px;
  padding: 10px;
  overflow: auto;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.noteColors svg {
  margin-right: 5px;
}

.noteDateTime {
  display: flex;
  justify-content: space-between;
}

.noteName {
  font-style: italic;
  padding: 3px;
}

.noteText {
  font-size: 0.8rem;
  word-wrap: break-word;
}

.oneNote a {
  text-decoration: none;
  color: var(--color-dark--1);
  font-weight: bold;
  font-size: 0.8rem;
}
