.oneNoteDiv {
  display: flex;
  flex-wrap: wrap;
}

.oneNote {
  width: 250px;
  height: auto;
  margin: 10px;
  background-color: rgb(231, 231, 145);
  border-radius: 12px;
  padding: 10px;
}

.noteDateTime {
  display: flex;
  justify-content: space-between;
}

.noteDateTime svg {
  cursor: pointer;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  font-weight: bold;
}
