.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-name-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
}

.notes-name-add svg {
  cursor: pointer;
}

.oneNoteDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.oneNote {
  max-width: 250px;
  height: auto;
  margin: 10px;
  background-color: var(--color-background--1);
  border-radius: 12px;
  padding: 10px;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.noteColors svg {
  margin-right: 5px;
}

.noteDateTime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.noteName {
  font-style: italic;
  margin-bottom: 5px;
}

.noteText {
  font-size: 13px;
  margin-bottom: 5px;
}

.oneNote a {
  text-decoration: none;
  color: var(--color-dark--1);
  font-weight: bold;
  font-size: 13px;
}
