:root {
  --color-background--1: rgb(231, 231, 145);
  --color-background--2: rgb(245, 157, 135);
  --color-background--3: rgb(135, 232, 245);
  --color-background--4: rgb(135, 245, 150);
  --color-dark--1: rgb(67, 67, 87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Commissioner, sans-serif;
  color: var(--color-dark--1);
}

body {
  background-image: url(./pictures/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.appLayout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.layout {
  /* height: 100vh; */
  background: rgba(39, 40, 67, 0.422);
}
